/* CreateTicketForm.css */

/* Styles for the main container */
body {
    background-color: #041a44; 
    font-family: Arial, sans-serif; 
    color: #f08888; 
    text-align: center;
  }

h4{
    color: #42d7f5;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
th{
    padding: 1%;    
    width: 30%;
    background-color: #374b4f;
    color: white;
  }  
  tr td{
    background-color: #041a44;
    padding: 1%;
  }
  th, td{
    border-bottom: 1px solid #65656e;
  }
  button{
    padding: 2% 3%;
    background-color:#008E97;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
  }
  
 button:hover {
    background-color:#008088;
    scale: 101%;
    transition: 0.2s;
  }